@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

:focus {
    outline: 0;
    box-shadow: 0 0 0 2px '##00875F'
}